.linkFieldContainer {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #e8f5e9;
  border-radius: 4rem;
  text-align: center;
}

.linkFieldText {
  font-family: 'Courier New';
  font-weight: bold;
  overflow-wrap: break-word;
}