html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #F8F8F8;
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

.container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding: 1rem 2rem 1rem 2rem;
}

.wrap { 
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 4rem; /* height of your footer */
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}