html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.linkCard {
  max-width: "32rem";
  position: relative;
}

.linkCard img {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.cardBalance {
  position: absolute;
  top: 35%;
  right: 10%;
  text-align: center;
}

.balanceUSD {
  font-weight: bold;
}

.cardIdentifier {
  position: absolute;
  bottom: 13%;
  left: 8%;
}
