.container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding: 1rem 2rem 1rem 2rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.box {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
}

.frontDesc {
  align-items: center;
  vertical-align: center;
  justify-content: center;
}

.linkCard {
  max-width: "32rem";
  position: relative;
}

.linkCard img {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.cardBalance {
  position: absolute;
  top: 35%;
  right: 10%;
  text-align: center;
}

.balanceUSD {
  font-weight: bold;
}

.cardIdentifier {
  position: absolute;
  bottom: 13%;
  left: 8%;
}

.frontBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #EAEDF3;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 3px #0000000A;
}

.frontDesc {
  margin-top: 2rem;
}
.frontDesc dt {
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
  font: normal normal medium Poppins;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  margin-top: 1rem;
}
.frontDesc  dd {
  margin-inline-start: 0rem;
  text-align: left;
  font: normal normal normal  Poppins;
  letter-spacing: 0px;
  color: #787878;
  opacity: 1;
}

.howTitle {
  text-align: center;
  font: normal normal normal Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.ps {
  text-align: left;
  font: normal normal normal  Poppins;
  letter-spacing: 0px;
  color: #787878;
  opacity: 1;
}

.tagLine {
  text-align: center;
}

.toolbar, .poweredBy  {
  display: none;
}
.poweredBy a {
  text-decoration: none;
}

@media (min-width:38rem)  { 
   .toolbar{
    display: flex;
  }
  .poweredBy{
    display: inline;
  }
}

.mobileLogoBar{
  display: none;
}

@media (max-width:38rem)  { 
  .mobileLogoBar{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.mobileLogoContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}

.faqItem {
  margin-top: 2rem;
}

.faqSubtitle {
  margin-bottom: 0.5rem;
}

.wrap { 
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 4rem; /* height of your footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: #F8F8F8;
}


.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}


.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footerLinks {
  display: flex;
  flex-direction: row;
}
.footerLinks *{
  margin: 0.25rem;
}

.footerSocial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerSocial a {
  text-decoration: none;
}
